<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="netBankingV1">

	<listeners>
		<listener class-name="com.netBanking.Utilties.Reporting" />
	</listeners>

  <test thread-count="4" name="BankingAppTest">
  <parameter name="browser" value="chrome" />
    <classes>
     <class name="com.netBanking.Testcase.TC_LoginTest_001"/>
       <class name="com.netBanking.Testcase.TC_LoginDDTest_002"/>
           <class name="com.netBanking.Testcase.TC_AddCustomerName_003"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
